In [24]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\JYIN'

In [6]:
os.chdir('H:\\Desktop')

In [54]:
newdata = pd.read_csv('FINALS.csv')

In [55]:
newdata.describe()

,KY_BA,Account_Age_Mar,Account_Age_Apr,Account_Age_May,usage3,usage4,usage5,chgrt3,chgrt4,chgrt5,SQFT_Code,mo3,mo4,mo5,DD3,DD4,DD5
count,3.058050e+05,305805.000000,305805.000000,305805.000000,2.994940e+05,2.956520e+05,2.919640e+05,286513.000000,283269.000000,279479.000000,224177.000000,305805.000000,305805.000000,305805.000000,305805.000000,305805.000000,305805.000000
mean,3.800845e+09,12.478713,12.560905,12.645836,5.496091e+03,4.719918e+03,5.033686e+03,0.099685,0.022867,0.283440,3.308640,634.241398,647.753216,580.922652,0.075970,0.117091,0.132974
std,2.884301e+09,12.821742,12.821742,12.821742,3.667214e+04,3.403834e+04,3.651520e+04,4.303770,9.153242,11.142901,2.027936,2413.989288,2599.144309,2609.423094,0.298748,0.366250,0.418483
min,1.009250e+05,-1.073973,-0.991781,-0.906849,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000,-1.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.218927e+09,2.660274,2.742466,2.827397,2.790000e+02,2.120000e+02,2.160000e+02,-0.086989,-0.337696,-0.067961,2.000000,41.020000,39.330000,28.970000,0.000000,0.000000,0.000000
50%,3.252987e+09,8.323288,8.405479,8.490411,8.790000e+02,6.490000e+02,6.750000e+02,0.000000,-0.100000,0.000000,3.000000,154.150000,143.290000,110.560000,0.000000,0.000000,0.000000
75%,6.058781e+09,18.153425,18.235616,18.320548,2.880000e+03,2.309000e+03,2.420250e+03,0.068159,0.000000,0.135379,5.000000,468.910000,457.050000,387.850000,0.000000,0.000000,0.000000
max,9.999962e+09,56.947945,57.030137,57.115068,7.110964e+06,7.285279e+06,7.448491e+06,936.000000,2724.000000,2670.000000,8.000000,206292.020000,252605.630000,519403.770000,3.000000,4.000000,4.000000

In [56]:
newdata.isnull().sum()

KY_BA                   0
Account_Age_Mar         0
Account_Age_Apr         0
Account_Age_May         0
usage3               6311
usage4              10153
usage5              13841
chgrt3              19292
chgrt4              22536
chgrt5              26326
sgmt                    0
CD_OPER_CNTR            0
CD_CREDIT_RATING     9097
FL_EBILL                0
CD_AD_TYPE              0
SQFT_Code           81628
SQFT_Desc           81628
mo3                     0
mo4                     0
mo5                     0
DD3                     0
DD4                     0
DD5                     0
dtype: int64

In [58]:
newdata[['usage3', 'usage4', 'usage5', 'chgrt3', 'chgrt4', 'chgrt5']] = newdata[['usage3', 'usage4', 'usage5', 'chgrt3', 'chgrt4', 'chgrt5']].fillna(0)

In [59]:
newdata.isnull().sum()

KY_BA                   0
Account_Age_Mar         0
Account_Age_Apr         0
Account_Age_May         0
usage3                  0
usage4                  0
usage5                  0
chgrt3                  0
chgrt4                  0
chgrt5                  0
sgmt                    0
CD_OPER_CNTR            0
CD_CREDIT_RATING     9097
FL_EBILL                0
CD_AD_TYPE              0
SQFT_Code           81628
SQFT_Desc           81628
mo3                     0
mo4                     0
mo5                     0
DD3                     0
DD4                     0
DD5                     0
dtype: int64

In [110]:
newdata['CD_CREDIT_RATING'].fillna('Missing', inplace = True)

In [111]:
newdata.isnull().sum()

KY_BA                   0
Account_Age_Mar         0
Account_Age_Apr         0
Account_Age_May         0
usage3                  0
usage4                  0
usage5                  0
chgrt3                  0
chgrt4                  0
chgrt5                  0
sgmt                    0
CD_OPER_CNTR            0
CD_CREDIT_RATING        0
FL_EBILL                0
CD_AD_TYPE              0
SQFT_Code           81628
SQFT_Desc           81628
mo3                     0
mo4                     0
mo5                     0
DD3                     0
DD4                     0
DD5                     0
dtype: int64

In [112]:
set(list(newdata['CD_CREDIT_RATING']))

{'A', 'B', 'C', 'D', 'Missing'}

In [63]:
import matplotlib.pyplot as plt

In [113]:
df = newdata.groupby(by = 'sgmt', as_index = False).agg({'KY_BA': pd.Series.nunique})

In [114]:
df

                                   sgmt  KY_BA
0                           Agriculture   3134
1                             Amusement   7104
2                        Communications  21305
3                          Construction  19468
4                    Convenience Stores   1806
5                          Data Centers    139
6                             Education   4918
7                  Government(Military)    215
8              Government(Non-Military)  14165
9                               Grocery   3946
10                           Healthcare  11313
11                       Hotels/Lodging   3323
12                      Mfg. Automotive    584
13                       Mfg. Chemicals    968
14  Mfg. Fabricated Metal and Machinery   1770
15                 Mfg. Food & Beverage   1963
16                 Mfg. Forest Products   1559
17             Mfg. Light Manufacturing  11965
18               Mfg. Plastics & Rubber    330
19                   Mfg. Primary Metal   1597
20          Mfg. Stone, Clay, and Glass    716
21               Mfg. Textile & Apparel    590
22                              Missing   9337
23                   Office/Real Estate  68731
24                                Other   6364
25                    Other Information   1250
26                          Restaurants  14875
27                    Retail/Mercantile  32324
28                             Services  23398
29                       Transportation   4216
30                  Utility-Electricity    634
31                          Utility-Gas    675
32          Utility-Water or Wastewater   3140
33                           Warehouses   4596
34                          Web Service     47
35                            Wholesale   7592
36                              Worship  15748